@tailwind base;
@tailwind components;
@tailwind utilities;

/* purgecss start ignore */
@font-face {
    font-family: 'Baloo Da 2';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Baloo Da 2 Bold'), local('BalooDa2-Bold'), url(https://fonts.gstatic.com/s/balooda2/v1/2-ch9J9j0IaUMQZwAJyJSlL4tYxiYl3z.woff2) format('woff2');
    unicode-range: U+0964-0965, U+0981-09FB, U+200C-200D, U+20B9, U+25CC;
}

:root{
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-family: 'Baloo Da 2', cursive;
}

::selection {
    background-color: #f72585;
}

.skip-link {
    position: absolute;
    top: -50px;
    left: 0;
    background: #000000;
    color: white;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}
/* purgecss end ignore */